

/* Main Container */
.container1 {
  
  margin: 1rem 0 1rem 15.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color:white;
  height: 100vh;
  width: 945px;

  border: 1px groove white;
  border-radius: 30px;  
 
}

/* Question Box */
.question {
  width: 68.3%;
  height:13%;
  padding: 20px;
  border: 1px solid greenyellow;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  margin:50px 0px 0px 0px;
  text-decoration: underline;

}
#text{
  margin:1px;
}

/* Options Container */
#choice {
  margin-top:100px;
  display: flex;
  flex-wrap: wrap;      /* allows 2 per row */
  gap: 20px;
  width: 70%;
}

/* Each Option */
.choice {
  flex: 1 1 45%;        /* 2 options per row */
  height: 60px;

  border: 1px ridge white;
  
  border-radius: 33px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  


  cursor: pointer;
  transition: 0.3s ease;
}

/* Hover Effect */
.choice:hover {
  background-color:rgb(0, 0, 0);
  transform: scale(1.06);
  color:white;
}

#btn{
  margin: 100px 0px 0px 220px;
  width:200px;
  height:50px;
  border:none;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#btn:hover{
  border:1px outset greenyellow;
  transform: scale(1.04);
  text-transform: capitalize;
  transition: ease 0.3s;
  background-color: black;
  color:white;
  font-size: 20px;
  font-family: Tohoma;
  cursor: pointer;
}
