.container2{
  
  margin: 0rem 0 0rem 15.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color:white;
  height: 100vh;
  width: 940px;

  border: 1px groove white;
  border-radius: 30px;  
 
}
.score{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score h2{
  font-family:Tahoma;
  font-size: 72px;
}

#bt{
  width:200px;
  height:50px;
  border:none;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  
}
#bt:hover{
  border:1px inset lightgreen;
  transform: scale(1.06);
  transition: ease-in 0.2s;
  background-color: black;
  color:white;
   border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  cursor: pointer;
  
}